// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.container {
  .left-col {
		-webkit-transition: all .1s ease-in;
		-moz-transition: all .1s ease-in;
		-o-transition: all .1s ease-in;
		-ms-transition: all .1s ease-in;
		transition: all .1s ease-in;
    
    #header {
      a:hover {
        color: lighten($greyshade, 25);
      }
      
      .bio {
        line-height: 1.2em;
        color: #999;
        margin-top: 10px;
      }
    }
  }
	
	.entry-content {
		background: none;
		
		.gist {
			background: #EEE;
			
			.gist-file {
				border: none !important;
				
				.gist-meta {
					background: inherit;
						
					a {
						color: $greyshade;
					}
					
					a:nth-of-type(2) {
						color: #666;
						font-weight: bold;
						background: none !important;
					}
				}
				
				.gist-data {
					.file-data {
						table {
							width: 100%;
							background: #F5F5F5;
						}
					}
				}
			}
		}
	}
}